<!DOCTYPE html>
<html>
  <head>
    <title>Ekin | Portland's "Lesser-known" Shoe Distribution Network</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel ="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class = "container">
      <div class = "header">
        <img src = "/img/ekin.png" width="200px" height="100px">
        <br />
        <h3>Welcome to Ekin</h3>
        <p>Portland's <strong><em>"lesser-known"</em></strong> Shoe Distribution Network</p>
        <p><a href = "/store">Stores</a> | <a href="/brand">Brands</a></p>
      </div>
      <%=yield%>
    </div>
  </body>
</html>
