<h1>Stores:</h1>

<form action = "/store" method = "post">
  <label for = "store">Add a store:</label>
  <input type = "text" name = "store">
  <button type = "submit">Open a new Ekin Store!</button>
</form>

<% if @stores.any? %>
<p>Click on a store name to edit its details or close it permanently:</p>
  <% @stores.each() do |store| %>
    <h3><a href="/store/<%= store.id %>"><%= store.store %></a></h3>
  <% end %>

<% else %>
  <h2>Ekin has not opened any stores yet. Check back!</h2>
<%end%>
